extends layout

block content
 body(style="background-color: lightblue;")
    h1 LOGIN UNSUCCESFUL.
    br
    h2 CHECK YOUR USERNAME OR PASSWORD AND TRY AGAIN!
    br
   


    <a href='/login' > <button> BACK </button> </a>
    
 