extends layout

block content
  body(style="background-color: lightblue;")
  h1 YOU HAVE BEEN LOGGED OUT.
  script.
      function showPopup() {
        alert('YOU HAVE BEEN LOGGED OUT OF THIS SESSION, TO PROCEED WITH ANYTHING ELSE YOU ARE REQUIRED TO LOG IN AGAIN. THANK YOU 😎');
      }

      setInterval(function() {
        showPopup();
      }, 4000);

  br
  br
  br

  <a href='/login' > <button> NEXT </button> </a>
    