extends layout

block content
 body(style="background-color: lightblue;")

    h1 PATIENT VERIFICATION FAILED!.
    h2 please ensure that the details entered are correct thank you.


    <a href='/verification' > <button> BACK </button> </a>
    